.container{
    background-color: black;
    color: white;
    height: 500px;
    width: 300px;
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 17px;
}

.content{
    margin-left: 15px;
    margin-top: 10px;
    color:lightsalmon;
}
.cont{
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
    top: 20px;
}

.cont1{
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
    top: 20px;
}

.cont2{
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
    top: 20px;
    color: grey;
}

